{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "no-unused-vars": [2, {
      "args": "none",
      "vars": "all"
    }],
    "no-console": 0
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
    "jQuery": true,
    "$": true
  },
  "plugins": ["react"]
}
