{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "no-unused-vars": [2, {
      "args": "none",
      "vars": "all"
    }]
  },
  "ecmaFeatures": {
    "jsx": true
  }
}
